
body {
	background-color:#000 !important;
	background: url("../images/main_back.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a, button{
	margin:0 3px;
}

/***** Top content *****/

.inner-bg {
    padding: 100px 0 170px 0;
}

.top-content {
	 *position: fixed;
	 *height: 1500px;
	 width: 100%;
	 *overflow-x: hidden;
	 box-sizing: border-box;
}

#main{
	z-index:9999 !important;
	position:relative;
}

.top-content .text {
	color: #fff !important;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 35px;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.qna-view-header{
	border-bottom:1px solid #fff;
}
.qna-view-comment{
  min-height: 300px;
}
.qna-view-reply{
	border:none !important;
	background-color: inherit;
}

.no-padding-right{
	padding-right: 0px !important;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

.page-header{margin-top:20px !important;}
/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

	.inner-bg { padding: 60px 0 110px 0; }

	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {height: auto;}

}

@media (max-width: 415px) {

	h1, h2 { font-size: 32px; }
  .ic-text { display : none;}
}
