/* Set gray background color and 100% height */
.sidenav {
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
  height: 100%;
  width: 160px;
}

.navbar-menu{
	*position: relative;
	float: left;
	display: block;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

/* main sidenav hover color */
.nav > li > a:focus, .nav > li > a:hover{
	background: rgba(56, 56, 56, 0.72);
	color: #fff;
	border-radius: 0px !important;
}

.sidenav_item{
		text-align: left !important;
}

.navbar {
    *position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
}

.nav-prof{
    min-height: 145px;
}

.nav-prof a:hover{
	background: rgba(56, 56, 56, 0.72) none repeat scroll 0% 0%;
	color: #FFF;
	border-radius: 0px !important;
}

/***** Media queries *****/

@media (min-width: 768px){
  .sidenav{
		left : 0;
		z-index: 2001;
		position: absolute;
	}
	.navbar-menu{*display: none;}

}

@media (max-width: 767px) {
  .sidenav {
		 left : -160px;
		 display: none;
		 z-index: 2001;
		 position:absolute;
		 width: 70px;
	}
	.navbar-menu{*display: block;}
}

@media (max-width: 415px) {



}
